cff-version: 1.2.0
message: "Please cite this software and reproducibility package."
title: "CA-HMCD reproducibility package"
type: software
version: "2026.09.17"
date-released: "2026-09-17"
authors:
  - family-names: "AUTHOR_INPUT_NEEDED"
    given-names: "AUTHOR_INPUT_NEEDED"
repository-code: "AUTHOR_INPUT_NEEDED"
doi: "AUTHOR_INPUT_NEEDED"
